<div class="container mt-3">
  <h1><%= @list.name %></h1>
    <div class="cards">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
        <% @list.bookmarks.each do |bookmark| %>
          <%= bookmark.movie.title %>
          <%= bookmark.movie.overview %>
        </div>
      <% end %>
    </div>
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.input :comment %>
    <%= f.association :movie %>
    <%= f.submit 'Add a bookmark', class: 'btn btn-danger' %>
  <% end %>
</div>
