<div class="container mt-3">
  <h1><%= @list.name %></h1>

  <div class="container mt-3 mb-3">
    <div class="cards">
      <% @list.bookmarks.each do |bookmark| %>
        <%= bookmark.movie.title %>
        <%= cl_image_tag @list.photo.key, height: 300, width: 400, crop: :fill %>
        <%= bookmark.movie.overview %>
      <% end %>
    </div>
  </div>

  <div class="container mt-5 mb-5">
    <%= simple_form_for [@list, @bookmark] do |f| %>
      <%= f.association :movie %>
      <%= f.input :comment %>
      <%= f.submit 'Add', class: 'btn btn-danger' %>
    <% end %>
  </div>
</div>
